<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>PLC_TP1</title>
</head>
<body>
    <div class="top-right">
        <img src="/static/1729350397471.png" alt="Imagem 1" width="150" height="150">
        <img src="/static/1729350696645.png" alt="Imagem 2" width="150" height="150">
        
    </div>
    <div class="container">
        <h1>Welcome to the Final Project</h1>
        <a href="{{ url_for('index') }}" class="btn" target="_blank">Ir para Resultados</a>
    </div>
    <div class="project_c">
        <h3>Projeto realizado por: </h3>
        <h5> Gabriel Antunes - A101101<p>
             Guilherme Pinho - A105533<p>
             Oliver Teixeira - A102506
        </h5>
    </div>
</body>
</html>
