PUSHI 0
PUSHI 0

START
PUSHS "Introduza um valor entre 1 e 10\n"
WRITES
READ
ATOI
STOREG 0
PUSHS "Input: "
WRITES

PUSHG 0
WRITEI
PUSHS "\n"
WRITES

CPW0: NOP
PUSHG 0
PUSHI 10
SUP
PUSHG 0
PUSHI 1
INF
OR
JZ cPEW0
PUSHS "O valor introduzido é invalido, introduza outro\n"
WRITES
READ
ATOI
STOREG 0
PUSHS "Input: "
WRITES

PUSHG 0
WRITEI
PUSHS "\n"
WRITES
JUMP cPW0
cPEW0: NOPPUSHG 0
STOREG 1
PUSHS "o fatorial de "
WRITES

PUSHG 1
WRITEI
PUSHS " é: "
WRITES

cPR1: NOP

PUSHG 0
PUSHI 1
SUB
STOREG 0
PUSHG 1
PUSHG 0
MUL
STOREG 1
PUSHG 0
PUSHI 1
INFEQ
PUSHI 0
EQUAL
JZ cPU1
JUMP cPR1
cPU1: NOP

PUSHG 1
WRITEI
STOP