
PUSHN 4

PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 1
STOREN

PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
STOREN

PUSHGP
PUSHI 0
PADD
PUSHI 2
PUSHI 3
STOREN

PUSHGP
PUSHI 0
PADD
PUSHI 3
PUSHI 4
STOREN

PUSHN 4

PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 10
STOREN

PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 20
STOREN

PUSHGP
PUSHI 4
PADD
PUSHI 2
PUSHI 30
STOREN

PUSHGP
PUSHI 4
PADD
PUSHI 3
PUSHI 40
STOREN

PUSHN 4
PUSHGP
PUSHI 8
PADD
PUSHI 0
PUSHI 25
STOREN
PUSHGP
PUSHI 8
PADD
PUSHI 1
PUSHI 50
STOREN
PUSHGP
PUSHI 8
PADD
PUSHI 2
PUSHI 75
STOREN
PUSHGP
PUSHI 8
PADD
PUSHI 3
PUSHI 100
STOREN

PUSHN 4
PUSHGP
PUSHI 12
PADD
PUSHI 0
PUSHI -1
STOREN
PUSHGP
PUSHI 12
PADD
PUSHI 1
PUSHI -2
STOREN
PUSHGP
PUSHI 12
PADD
PUSHI 2
PUSHI -3
STOREN
PUSHGP
PUSHI 12
PADD
PUSHI 3
PUSHI -4
STOREN

START
PUSHS "MATRIXS a e b antes do SWAP\n"
WRITES
PUSHS "a: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES
PUSHS "\nb: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES

PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 1
ADD
LOADN
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 1
ADD
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
LOADN

STOREN
STOREN

PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
LOADN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
LOADN

STOREN
STOREN

PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
LOADN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
LOADN

STOREN
STOREN
PUSHS "\nMATRIXS a e b depois do SWAP\n"
WRITES
PUSHS "a: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES
PUSHS "\nb: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES
PUSHS "\nARRAY d e MATRIX b antes do SWAP\n"
WRITES
PUSHS "d: "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 12
PADD
PUSHI 0
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 1
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 2
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 3
LOADN
WRITEI

PUSHS "]"
WRITES
PUSHS "\nb: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 0
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
LOADN
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
PUSHGP
PUSHI 12
PADD
PUSHI 0
LOADN

STOREN
STOREN
PUSHS "\nARRAY d e MATRIX b depois do SWAP\n"
WRITES
PUSHS "d: "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 12
PADD
PUSHI 0
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 1
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 2
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 12
PADD
PUSHI 3
LOADN
WRITEI

PUSHS "]"
WRITES
PUSHS "\nb: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES
PUSHS "\nARRAY c antes do SWAP\n"
WRITES
PUSHS "c: "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 8
PADD
PUSHI 0
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 1
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 2
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 3
LOADN
WRITEI

PUSHS "]"
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 1
PUSHGP
PUSHI 8
PADD
PUSHI 2
LOADN
PUSHGP
PUSHI 8
PADD
PUSHI 2
PUSHGP
PUSHI 8
PADD
PUSHI 1
LOADN

STOREN
STOREN
PUSHS "\nARRAY c antes do SWAP\n"
WRITES
PUSHS "c: "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 8
PADD
PUSHI 0
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 1
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 2
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 8
PADD
PUSHI 3
LOADN
WRITEI

PUSHS "]"
WRITES
STOP