PUSHI 0
PUSHI 5
PUSHN 5

PUSHN 4

PUSHGP
PUSHI 7
PADD
PUSHI 0
PUSHI -1
STOREN

PUSHGP
PUSHI 7
PADD
PUSHI 1
PUSHI 2
STOREN

PUSHGP
PUSHI 7
PADD
PUSHI 2
PUSHI 3
STOREN

PUSHGP
PUSHI 7
PADD
PUSHI 3
PUSHI 4
STOREN

START
PUSHS "a: "
WRITES

PUSHG 0
WRITEI
PUSHS "\nb: "
WRITES

PUSHG 1
WRITEI
PUSHS "\nv: "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 2
PADD
PUSHI 0
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 2
PADD
PUSHI 1
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 2
PADD
PUSHI 2
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 2
PADD
PUSHI 3
LOADN
WRITEI

PUSHS ", "
WRITES

PUSHGP
PUSHI 2
PADD
PUSHI 4
LOADN
WRITEI

PUSHS "]"
WRITES
PUSHS "\nm: "
WRITES

PUSHS "["
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 7
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 7
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS ", "
WRITES

PUSHS "["
WRITES
PUSHGP
PUSHI 7
PADD
PUSHI 2
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHGP
PUSHI 7
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "]"
WRITES

PUSHS "]"
WRITES
STOP