PUSHI 5
PUSHI 10
PUSHI 0
PUSHI 0
PUSHI 0

START
PUSHG 1
STOREG 2
PUSHI 15
PUSHI 15
ADD
STOREG 3
PUSHG 3
PUSHI 2
MUL
STOREG 4
PUSHS "c: "
WRITES

PUSHG 2
WRITEI
PUSHS "\nd: "
WRITES

PUSHG 3
WRITEI
PUSHS "\ne: "
WRITES

PUSHG 4
WRITEI
STOP